body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
    background-color: black;
    color: #000;
    padding: 20px;
}
.container {
    text-align: left;
    width: 100%;
}
h1 {
    margin-bottom: 20px;
    color: white;
    font-family: aptos;
}
.greeting {
    font-size: 35px;
    margin-bottom: 20px;
    color: white;
    font-family: aptos;
}
.links {
    display: grid;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}
.link2 {
  display: flex;
  flex-wrap: wrap;

}
.links a {
    margin: 10px 0;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.links img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.clock {
    font-size: 30px;
    font-family: Aptos;
    position: absolute;
    top: 50px;
    right: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}